<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wifi.AutoVerwaltung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Wifi.AutoVerwaltung.Properties.Settings>
            <setting name="FormMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMainSize" serializeAs="String">
                <value>1800, 900</value>
            </setting>
            <setting name="FormMainState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Wifi.AutoVerwaltung.Properties.Settings>
    </userSettings>
</configuration>